.webicon {
	background-size: 100% 100% !important;
	margin: 0 0 0 2px;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-indent: -999em;
	text-align: left;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

// .webicon:hover{-moz-box-shadow:0 2px 0 rgba(0, 0, 0, 0.25);-webkit-box-shadow:0 2px 0 rgba(0, 0, 0, 0.25);box-shadow:0 2px 0 rgba(0, 0, 0, 0.25)}// .webicon.small{width:20px;height:20px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}// .webicon.large{width:30px;height:30px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px}.webicon.large{width:40px;height:40px}// .no-svg
.webicon.facebook {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-facebook-m.png");
}

.no-svg .webicon.facebook.large {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-facebook.png");
}

// .no-svg
.webicon.facebook.small {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-facebook-s.png");
}

// .svg
.webicon.facebook {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-facebook.svg");
}

// .no-svg
.webicon.twitter {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-twitter-m.png");
}

.no-svg .webicon.twitter.large {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-twitter.png");
}

// .no-svg
.webicon.twitter.small {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-twitter-s.png");
}

// .svg
.webicon.twitter {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-twitter.svg");
}

// .no-svg
.webicon.googleplus {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-googleplus-m.png");
}

.no-svg .webicon.googleplus.large {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-googleplus.png");
}

// .no-svg
.webicon.googleplus.small {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-googleplus-s.png");
}

// .svg
.webicon.googleplus {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-googleplus.svg");
}

// .no-svg
.webicon.linkedin {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-linkedin-m.png");
}

// .no-svg
.webicon.linkedin.large {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-linkedin.png");
}

// .no-svg
.webicon.linkedin.small {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-linkedin-s.png");
}

// .svg
.webicon.linkedin {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-linkedin.svg");
}

// .no-svg
.webicon.pinterest {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-pinterest-m.png");
}

// .no-svg
.webicon.pinterest.large {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-pinterest.png");
}

// .no-svg
.webicon.pinterest.small {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-pinterest-s.png");
}

// .svg
.webicon.pinterest {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-pinterest.svg");
}

// .no-svg
.webicon.rss {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-rss-m.png");
}

// .no-svg
.webicon.rss.large {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-rss.png");
}

// .no-svg
.webicon.rss.small {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-rss-s.png");
}

// .svg
.webicon.rss {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-rss.svg");
}

// .no-svg
.webicon.youtube {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-youtube-m.png");
}

// .no-svg
.webicon.youtube.large {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-youtube.png");
}

// .no-svg
.webicon.youtube.small {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-youtube-s.png");
}

// .svg
.webicon.youtube {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-youtube.svg");
}

// .no-svg
.webicon.instagram {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-instagram-m.png");
}

// .no-svg
.webicon.instagram.large {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-instagram.png");
}

// .no-svg
.webicon.instagram.small {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-instagram-s.png");
}

// .svg
.webicon.instagram {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-instagram.svg");
}

// .no-svg
.webicon.yelp {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-yelp-m.png");
}

// .no-svg
.webicon.yelp.large {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-yelp.png");
}

// .no-svg
.webicon.yelp.small {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-yelp-s.png");
}

// .svg
.webicon.yelp {
	background: url("https://www.real-estate.ca/inc/skins/brew/modules/social-share/img/round/webicon-yelp.svg");
}

#feature div.quicksearch form .rooms .pair {
	margin: 0;
}

#feature div.quicksearch form .tween {
	display: none;
}

#feature div.quicksearch form .range .tween {
	display: none;
}

#feature div.quicksearch form .range .min,
#feature div.quicksearch form .range .max {
	width: 47.5%;
}

#feature div.quicksearch form .range .max {
	margin-left: -47.5%;
}

#feature div.quicksearch form .qs-feed {
	margin-bottom: 10px;
}

#feature div.quicksearch form .toggleset {
	background-color: #fff;
	border: 1px solid #ccc;
	top: 32px;
	overflow: auto;
	max-height: 220px;
}

#feature div.quicksearch form .toggleset label {
	color: #3d3d3d;
	padding: 0 5px 0 30px;
	font-weight: 400;
}

#feature div.quicksearch form .toggleset label:nth-child(2n + 2) {
	background: none;
}
