.thegroup-community-page__trapezoid {
  padding-top: 100px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9)
    ),
    url('https://www.real-estate.ca/uploads/agent-1/calgary/e-calgary/dover/dover-37.webp');
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
  }

  h2,
  h3,
  p,
  li {
    font-family: var(--font-family-body) !important;
    color: #f9f9f9 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  h2 {
    font-size: 40px !important;
    font-weight: 600;
    text-transform: initial !important;
    padding-bottom: 5px;

    text-align: center;
  }

  .trapezoid-container {
    align-items: center;

    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 100px;
    }
  }

  .statistics {
    margin: 50px 0 100px;

    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 1024px) {
      margin: 50px 0 0;
    }

    p {
      margin: 35px 0 0 !important;
      width: 50%;
      span {
        display: block;
        text-align: center;
        margin-bottom: 25px;

        &:nth-child(1) {
          font-size: 50px;
          font-weight: 800;
          letter-spacing: -3px;
          line-height: 1;
        }
      }
    }
  }

  .trapezoid-list {
    list-style: none;
    width: 95%;
    margin: 25px auto 0;

    li {
      font-size: 25px;
      margin: 50px 0 !important;
      line-height: 1.2;

      display: flex;
      align-items: top;
    }

    img {
      height: 30px;
      width: 30px;
      margin-right: 20px;
    }
  }
}

.text-underline {
  display: inline-block;
  border-bottom: 3px solid #fff;
  padding-bottom: 15px;
}

// TRAPEZOID - REVERSED

.thegroup-community-page__trapezoid--reversed {
  padding-top: 100px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  @media screen and (min-width: 1200px) {
    padding-top: 350px;
    padding-bottom: 250px;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  }

  p {
    font-size: 18px;
    margin-top: 20px !important;
  }

  h3 {
    font-size: 30px !important;
    font-weight: 600;
    text-align: left !important;
    line-height: 1 !important;
    text-transform: initial !important;

    @media screen and (min-width: 1200px) {
      font-size: 40px !important;
    }
  }

  .trapezoid-list {
    width: 100%;
  }
}
